{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="center-column">
        <p>Are you sure you want to delete "{{item}}"?</p>

        <a href="{% url 'list' %}" class="btn btn-success w-100">
          Cancel
        </a>

        <form method="POST" action="">
          {% csrf_token %}
          <input
            type="submit"
            name="Confirm"
            value="Ok"
            class="btn btn-danger"
          />
        </form>
      </div>
    </div>
  </body>
</html>
