{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="{% static 'base/css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="center-column">
        <h3>Update Task</h3>

        <form method="POST" action="">
          {% csrf_token %} {{form.title}} {{form.complete}}
          <input type="submit" name="Update Task" value="Update" class="btn btn-success" />
        </form>
      </div>
    </div>
  </body>
</html>
